# Ignora arquivos de build e temporários
/build/
out/
*.log
*.class

# Ignora configs pessoais
*.iml
*.idea/
*.vscode/

# Ignora arquivos do sistema
.DS_Store
Thumbs.db


# Ignora arquivos sensíveis
gametest/configServer.ini
gametest/configDatabase.ini
gametest/configipconfig.xml